<header>
  <nav class="container mx-auto flex justify-between items-center py-4 px-6 z-10">
    <!-- Logo or Brand -->
    <a href="https://www.land-smyrna.com" class="text-xl font-bold text-gray-800">
      <img src="/Images/Logos/smyrnaGoldLogo.png" alt="Smyrna logo" class="w-20 h-auto">
    </a>

    <!-- Mobile Menu Button (Hamburger) -->
    <div class="block md:hidden">
      <button id="menu-toggle" class="text-gray-800 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <!-- Navigation Links -->
    <ul id="menu" class="hidden md:flex space-x-6">
      <li>
        <a href="/index.html" class="text-gray-100 hover:text-white">Home</a>
      </li>
      <li>
        <a href="/about.html" class="text-gray-100 hover:text-white">About</a>
      </li>
      <li>
        <a href="/services.html" class="text-gray-100 hover:text-white">Services</a>
      </li>
      <li>
        <a href="/work.html" class="text-gray-100 hover:text-white">Work</a>
      </li>
      <li>
        <a href="/contact.html"
          class="bg-purple-800 text-white px-6 py-3 rounded-lg hover:bg-purple-600 transition z-10 relative">
          Get In Touch
        </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  // Wait for the DOM to be fully loaded before running the script
  document.addEventListener('DOMContentLoaded', function () {
    // Get the hamburger button and the menu
    const menuToggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('menu');

    // Add click event listener to the hamburger button
    menuToggle.addEventListener('click', function () {
      // Toggle the visibility of the menu by removing/adding the 'hidden' class
      menu.classList.toggle('hidden');
    });
  });
</script>