<header>
  <nav class="container mx-auto flex justify-between items-center py-4 px-6">
    <!-- Logo or Brand -->
    <a href="https://www.land-smyrna.com" class="text-xl font-bold text-gray-800">
      <img src="/Images/Logos/smyrnaGoldLogo.png" alt="Smyrna logo" class="w-20 h-auto">
    </a>

    <!-- Navigation Links -->
    <ul class="flex space-x-6">
      <li>
        <a href="/index.html" class="text-gray-100 hover:text-white">Home</a>
      </li>
      <li>
        <a href="/about.html" class="text-gray-100 hover:text-white"
          >About</a
        >
      </li>
      <li>
        <a href="/services.html" class="text-gray-100 hover:text-white"
          >Services</a
        >
      </li>
      <li>
        <a href="/work.html" class="text-gray-100 hover:text-white">Work</a>
      </li>
      <li>
        <a
          href="/contact.html"
          class="bg-yellow-400 text-white px-4 py-2 rounded-lg hover:bg-yellow-500 transition"
        >
          Get In Touch
        </a>
      </li>
    </ul>
  </nav>
</header>
